.info-profil {
  display: flex;
  color: $color-primary;
  flex-direction: column;

  .left-container {
    width: 100%;

    .title {
      font-size: 18px;
      font-weight: 500;
    }
    .location {
      font-size: 14px;
      margin-bottom: 15px;
      font-weight: 500;
    }
  }

  .right-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    .host-info {
      display: flex;
      font-size: 12px;
      font-weight: 500;
      text-align: right;
      align-items: flex-start;
      .host-name {
        white-space: pre-wrap;
      }

      .host-picture {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 0 0 10px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .info-profil {
    flex-direction: row;

    .left-container {
      width: 50%;

      .title {
        font-size: 36px;
      }

      .location {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    .right-container {
      flex-direction: column;
      align-items: flex-end;
      width: 50%;
      margin-top: 0px;

      .host-info {
        align-items: center;
        font-size: 18px;

        .host-picture {
          width: 64px;
          height: 64px;
          margin: 0 10px 10px 10px;
        }
      }
    }
  }
}